html {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

#header-section {
    background-color: #FEFEFE;
    padding: 21px 0 20.25px;
}

#header-section nav {
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    margin: auto;
}

#header-section nav .book-a-meeting-btn1 {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.25px;
    background-color: #2E4FD7;
    margin-left: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1px;
}

#header-section nav .book-a-meeting-btn1:hover {
    background-color: #1A3BC3;
}

#header-section nav .content-nav {
    margin-left: 53px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
    display: flex;
    column-gap: 31px;
}

#header-section nav .content-nav a {
    color: #1E1E1E;
}

body {
    background-color: #052825;
}

#gist-section {
    padding: 145.5px 0;
}

#gist-section > div {
    display: flex;
    justify-content: space-between;
}


#gist-section > div > div:first-child h1{
    width: 635px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.16px;
    text-transform: capitalize;
    color: #FFF;
}

#gist-section > div > div:first-child > p {
    width: 468px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    color: #FFF;
    margin: 30px 0 42px;
}

#gist-section .book-a-meeting-btn-2 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.29px;
    background-color: #2E4FD7;
    border: none;
    padding: 15px 25px;
    cursor:pointer;
    transition: 0.3s;
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 1px;
}

#gist-section .book-a-meeting-btn-2:hover {
    background-color: #1A3BC3;
}

#gist-section > div > div:first-child .button-container {
    display: flex;
    align-items: center;
    column-gap: 21px;
}
#gist-section > div > div:first-child .button-container p {
    width: 250px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
    color: #FFF;
}

#gist-section > div > div:last-child img {
    border-radius: 3px;
}

#gist-section > div > div .social-media {
    margin-top: 84px;
    display: flex;
    column-gap: 25px;
}

#headline-sample-section {
    padding-top: 108px;
    padding-bottom: 111px;
}

#headline-sample-section > div {
    display: flex;
    justify-content: space-between;
}

#headline-sample-section > div .left > h3 {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.76px;
} 

#headline-sample-section > div .left > p {
    color: #FFF;
    width: 540px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-top: 8px;
    margin-bottom: 36px;
}

#headline-sample-section > div .info-container {
    display: flex;
    column-gap: 82px;
}

#headline-sample-section > div .info-container .info div:first-child {
    display: flex;
    align-items:baseline;
}

#headline-sample-section > div .info-container .info div:first-child p:first-child {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: -1.3px;
}

#headline-sample-section > div .info-container .info div:first-child p:last-child {
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.939px;
}

#headline-sample-section >div .info-container .info div:last-child p {
    color: #FFF;
    width: 203px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
}

#headline-sample-section > div .right .rectangle {
    width: 530px;
    height: 350px;
    background-color: #E7EBFC;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headline-sample-section > div .right .rectangle img {
    cursor: pointer;
}

#modern-and-digital-section {
    padding: 111px 0;
}

#modern-and-digital-section > div {
    display: flex;
    flex-direction: column;
}

#modern-and-digital-section > div h2 {
    color: #FFF;
    width: 540px;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.94px;
}

#modern-and-digital-section > div .group {
    margin-top: 68px;
    display: flex;
    column-gap: 30px;
}

#modern-and-digital-section > div .group .box h6
{
    color: #FFF;
    margin-top: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.361px;
}

#modern-and-digital-section > div .group .box p {
    color: #FFF;
    width: 255px;
    margin-top: 7px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
}

#success-story-section {
    padding: 115px 0;
}

#success-story-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#success-story-section > div .rectangle {
    background-color: #E7EBFC;
    width: 1110px;
    height: 700px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

#success-story-section > div .rectangle .left {
    margin-top: 119px;
    margin-left: 95px;
}

#success-story-section > div .rectangle h3 {
    color: #191919;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.76px;
}

#success-story-section > div .rectangle .left > p {
    width: 588px;
    color: #1E1E1E;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.76px;
    margin: 32px 0;
}

#success-story-section > div .rectangle .left .Read {
    color: #2E4FD7;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
} 

#success-story-section > div .rectangle .left .Read p 
{
    letter-spacing: -0.29px;
    margin: -12px 0 18px;
}

#success-story-section > div .rectangle .right img {
    margin-top: 116px;
}

#approach-section {
    padding: 64px 0 58px;
}

#approach-section > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#approach-section > div .group {
    margin-top: 64px;
    display: flex;
    column-gap: 30px;
}

#approach-section > div h3 {
    color: #FFF;
    width: 730px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.76px;
}

#approach-section > div .group > div div:first-child {
    display: flex;
    column-gap: 16px;
}

#approach-section > div .group > div div:first-child .round 
{
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background-color: #E7EBFC;
}

#approach-section > div .group > div div:first-child .round img {
    padding: 24px;
}

#approach-section > div .group > div div:last-child p:first-child {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.43px;
    margin: 16px 0 4px;
}

#approach-section > div .group > div div:last-child p:last-child {
    color: #FFF;
    width: 255px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
}

#approach-section > div .group .approach 
{
    display: flex;
    flex-direction: column;
}

#closing-section {
    padding: 103px 0 97.5px;
}

#closing-section > div {
    text-align: center;
}

#closing-section > div .text  
{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#closing-section h2 {
    color: #FFF;
    width: 920px;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.94px;
    text-align: center;
}

#closing-section p {
    color: #FFF;
    width: 826px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.32px;
    text-align: center;
    margin: 24px 0 61px;
}

#closing-section > div .line {
    width: 1110px;
    height: 2px;
    background-color: #B4B4B4;
    margin-top: 43px;
    margin-bottom: 50px;
}

#closing-section > div .social-medias 
{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

#closing-section > div .book-a-meeting-btn-3 {
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.29px;
    background-color: #2E4FD7;
    border-radius: 1px;
    padding: 15px 25px;
}

#closing-section > div .book-a-meeting-btn-3:hover {
    background-color: #1A3BC3;
}

.container3 {
    width: 1170px;
    margin: auto;
}

#footer {
    padding: 70px 0 44px;
}

#footer > div .top .left p:first-of-type {
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.32px;
    margin: 33px 0 6px;
}

#footer > div .top .left p:last-of-type {
    color: #FFF;
    width: 423px;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
    margin: 6px 0;
}

#footer > div .top .left .button-text {
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.29px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 22px;
}

#footer > div .top {
    display: flex;
    justify-content: space-between;
}

#footer > div .line {
    background-color: #FFF;
    opacity: 0.07999999821186066;
    width: 1170px;
    height: 1.4px;
}

#footer > div .top .right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-end;
}

#footer > div .top .right .list {
    display: flex;
    column-gap: 27px;
}

#footer > div .top .right .list:first-child {
    margin-top: 52px;
}

#footer > div .top .right .list a {
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.29px;
}

#footer > div .bottom p:first-child {
    color: #FFF;
    width: 387px;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.25px;
    margin-top: 30.6px;
}

#footer > div .bottom p:last-child {
    color: #FFF;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.25px;
    margin-top: 36.6px;
}

#footer > div .bottom {
    display: flex;
    justify-content: space-between;
}